@import url('https://fonts.googleapis.com/css?family=Noto+Sans|PT+Sans|Source+Sans+Pro|Ubuntu&display=swap');

/* 

    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'Noto Sans', sans-serif;

    font-family: 'Ubuntu', sans-serif;

    font-family: 'PT Sans', sans-serif;

 */
body {
    background-color: whitesmoke;
    color: black;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 57px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

h2 {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding: 0px 0px -20px 0;
    font-weight: 700;
    letter-spacing: 1px;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: 200;
    letter-spacing: 0.5px;
    font-weight: 700;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 24px;

}
