* {
    box-sizing: border-box;
}

:root {
    --color-white: #E5FFE1;
    --color-pink: #EF2BB3;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

section {
    padding: 100px 30px;
    /* gap between headings and sections */
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.login {
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: var(--color-pink);
    border-radius: 50%;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    width: 60px;
    height: 60px;

    right: 0;
    top: 0;
    position: absolute;
}

.gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#111d27+0,000000+100 */
    background: #111d27;
    /* Old browsers */
    background: -moz-linear-gradient(top, #111d27 0%, #000000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #111d27 0%, #000000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #111d27 0%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111d27', endColorstr='#000000', GradientType=0);
    /* IE6-9 */

}

.body {
    background-image: url("images/bg-08.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.big {
    width: 40px;
    height: auto;
    position: absolute;
    top: 40px;
    display: inline;
}

.gdl {
    font-weight: 700;
    font-size: 50px;
    color: var(--color-white);
}

.gdlp {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-white);
}

/* <p> */
.pink {
    background-color: var(--color-pink);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -30px;
    margin-right: -30px;
}

.date {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    /* background-color: #EF2BB3; */
}


.location {
    text-align: center;
    font-weight: 300;
    font-size: 23px;
    /* background-color: #EF2BB3; */
}


.join {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
}

.learn {
    color: #4097FF;
    font-weight: 500;
    font-size: 16px;
    border: 3px solid #4097FF;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buy {
    text-align: center;
    font-weight: 400;
    font-size: 38px;
    color: white;
}

.box {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    background: rgb(249, 178, 228);
    background: linear-gradient(86deg, rgba(249, 178, 228, 1) 0%, rgba(250, 191, 233, 1) 14%, rgba(239, 43, 179, 1) 60%, rgba(20, 29, 39, 1) 180%);
}

/* speakers */

.speakers {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.speaker-list {
    list-style: none;
    /* padding-left: 0; */
    margin: auto;
    padding-left: 0;
}

.speaker-list li {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 49%;
    padding-bottom: 80px;
    vertical-align: top;
    /* defult - bottom */

}



.name {
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    padding-bottom: 80px;
}

.info {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 8px;
}

img {
    width: 90%;
    height: auto;
    padding-bottom: 20px;
}

/* img:hover {
    opacity: 80%;
} */

.more {
    font-size: 8px;
    font-weight: 400;
    position: absolute;
    background-image: url(images/icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 42px;
    width: 41px;
    text-align: center;
    padding-top: 12px;
    padding-left: 7px;
    color: var(--color-white);
    line-height: 1.2;
    text-decoration: none;
    right: 30px;
    top: 170px;
}

.more:hover {
    color: red;
}

/* schedules */

.schedule {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.meet {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.oct {
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

.time {
    display: inline;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding-right: 30px;
}

.content {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    display: inline;
}

.line {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.four {
    border-right: 1px solid white;
    padding-bottom: 230px;
    padding-top: 20px;
    margin: 0;
    display: inline;
}

.six {
    display: inline-flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sns {
    position: absolute;
    right: 20px;
}

.icon {
    display: inline;
    position: relative;
    margin-left: 10px;
    margin-bottom: 100px;
}


/* copywrite */

.copy {
    text-align: center;
}

.small {
    display: inline;
    margin-top: 200px;
}

h3 {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    display: inline;
}
