* {
    box-sizing: border-box;
}

:root {
    --color-white: #E5FFE1;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

section {
    padding: 100px 30px;
    /* gap between headings and sections */
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#111d27+0,000000+100 */
    background: #111d27;
    /* Old browsers */
    background: -moz-linear-gradient(top, #111d27 0%, #000000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #111d27 0%, #000000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #111d27 0%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111d27', endColorstr='#000000', GradientType=0);
    /* IE6-9 */

}

.body {
    background-image: url("images/bg-08.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

svg {
    width: 27px;
    height: auto;
}

.gdl {
    font-weight: 700;
    font-size: 50px;
    color: var(--color-white);
}

.gdlp {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-white);
}

/* <p> */
.date {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    background-color: #EF2BB3;
}


.location {
    text-align: center;
    font-weight: 300;
    font-size: 23px;
    background-color: #EF2BB3;
}


.join {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
}

.learn {
    color: #4097FF;
    font-weight: 500;
    font-size: 16px;
    border: 3px solid #4097FF;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buy {
    text-align: center;
    font-weight: 400;
    font-size: 38px;
    color: white;
}

.box {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    background: rgb(249, 178, 228);
    background: linear-gradient(86deg, rgba(249, 178, 228, 1) 0%, rgba(250, 191, 233, 1) 14%, rgba(239, 43, 179, 1) 60%, rgba(20, 29, 39, 1) 180%);
}

/* speakers */

.speakers {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.name {
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
}

.info {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

/* schedules */

.schedule {
    font-size: 50px;
    font-weight: 700;
}

.meet {
    font-size: 16px;
    font-weight: 300;
}
